<!DOCTYPE html>
<html>
    <head>
        <title>Campy: a place wildfolk</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo|Comfortaa|Lobster|Montserrat|Muli|Pacifico" rel="stylesheet"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script src="https://use.fontawesome.com/25daf8da03.js" async></script>
    </head>
    <body>


    <div class="container">
        <div id="landing-header" style="color: whitesmoke" class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="row">
                    <h1 class="title">Campy</h1>
                    <p><em class="light-grey">A yelp-like site for reviewing camps and trails</em></p>
                </div>
                <div class="row points">
                    <div class="col-xs-4">
                        <p><i class="fa fa-3x fa-thumbs-o-up" aria-hidden="true"></i></p>
                        <p>Rate campsites</p>
                    </div>
                    <div class="col-xs-4">
                        <p><i class="fa fa-3x fa-users" aria-hidden="true"></i></p>
                        <p>Meet cool campers</p>
                    </div>
                    <div class="col-xs-4">
                        <p><i class="fa fa-3x fa-map-marker" aria-hidden="true"></i></p>
                        <p>Find new spots</p>
                    </div>
                </div>
                <div class="row">
                    <a href="/campgrounds" id="camp_btn" class="btn btn-lg btn-success">View All Campgrounds</a>
                </div>
            </div>
        </div>
    </div>
    
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100%"
   height="auto"
   viewBox="0 0 508 285.75001"
   version="1.1"
   id="big_mountains"
   class="bigger_mountains big_mount_down"
   inkscape:version="0.92.0 r15299"
   sodipodi:docname="Bigger_mountains.svg"
   enable-background="new">
  <defs
     id="defs4880" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.7015625"
     inkscape:cx="607.59334"
     inkscape:cy="339.18589"
     inkscape:document-units="mm"
     inkscape:current-layer="layer2"
     showgrid="false"
     showborder="true"
     units="px"
     inkscape:snap-page="true"
     inkscape:window-width="1920"
     inkscape:window-height="1000"
     inkscape:window-x="-11"
     inkscape:window-y="-11"
     inkscape:window-maximized="1"
     inkscape:snap-intersection-paths="false"
     inkscape:object-paths="true" />
  <metadata
     id="metadata4883">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="big_ol_mountains"
     style="display:inline">
    <path
       style="fill:#0f0f1e;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 37.336304,285.75 68.638456,93.788602 103.71195,136.78192 154.24796,285.75 Z"
       id="path4511"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ebebeb;fill-opacity:1;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 64.646981,118.26644 11.157027,21.15542 18.856719,6.03415 11.962593,-0.0921 -2.91137,-8.58201 -35.073494,-42.993318 z"
       id="path4513"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#0f0f0f;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 92.39792,285.75 129.35709,169.21548 145.951,140.9304 176.87602,285.75 Z"
       id="path4515"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ebebeb;fill-opacity:1;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 129.35709,169.21548 6.78842,10.93689 5.27988,-6.03415 13.65669,9.57238 -9.13108,-42.7602 z"
       id="path4517"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#0f0f19;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 0,285.75 25.268003,180.52951 33.364371,162.7285 44.124721,116.03953 58.45662,158.13309 115.02598,285.75 Z"
       id="path4540"
       inkscape:connector-curvature="0" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="cap">
    <path
       style="fill:#f9f9f9;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 44.124721,116.03953 -8.373317,36.33167 -0.298862,1.29676 9.803582,1.97068 9.780476,-7.55033 -10.911879,-32.04878"
       id="path4544"
       inkscape:connector-curvature="0" />
  </g>
</svg>



    
    
    
    
    
    
    
    
    <!-- Mountains -->
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <!-- Created with Inkscape (http://www.inkscape.org/) -->
    
    <svg
       xmlns:dc="http://purl.org/dc/elements/1.1/"
       xmlns:cc="http://creativecommons.org/ns#"
       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:svg="http://www.w3.org/2000/svg"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
       xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
       width="100%"
       height="auto"
       class="mountains mount_down"
       viewBox="0 0 508 285.75001"
       version="1.1"
       id="mountain_range"
       inkscape:version="0.92.0 r15299"
       sodipodi:docname="sunnyScene.svg">
      <defs
         id="defs4880" />
      <sodipodi:namedview
         id="base"
         pagecolor="#ffffff"
         bordercolor="#666666"
         borderopacity="1.0"
         inkscape:pageopacity="0.0"
         inkscape:pageshadow="2"
         inkscape:zoom="0.7015625"
         inkscape:cx="1004.1871"
         inkscape:cy="540"
         inkscape:document-units="mm"
         inkscape:current-layer="layer10"
         showgrid="false"
         showborder="true"
         units="px"
         inkscape:snap-page="true"
         inkscape:window-width="1920"
         inkscape:window-height="1000"
         inkscape:window-x="-11"
         inkscape:window-y="-11"
         inkscape:window-maximized="1" />
      <metadata
         id="metadata4883">
        <rdf:RDF>
          <cc:Work
             rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type
               rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            <dc:title></dc:title>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <g
         inkscape:label="Layer 1"
         inkscape:groupmode="layer"
         id="layer1"
         transform="translate(0,-11.249939)" />
      <g
         inkscape:groupmode="layer"
         id="layer10"
         inkscape:label="sun" />
      <g
         inkscape:groupmode="layer"
         id="layer9"
         inkscape:label="mount3"
         style="display:inline">
        <path
           style="fill:#1a1a1a;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           d="m 0,241.24814 72.786932,-27.90794 39.599108,15.08537 7.91982,-5.65701 105.22049,22.62806 122.56866,-30.17075 159.90498,29.03935 V 285.75 H 0 Z"
           id="path5439"
           inkscape:connector-curvature="0" />
      </g>
      <g
         inkscape:groupmode="layer"
         id="layer7"
         inkscape:label="mount1"
         style="display:inline">
        <path
           transform="translate(0,-11.249939)"
           style="fill:#4d4d4d;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           d="M 507.99999,296.99994 V 276.25755 L 215.72086,240.80692 0,296.99994 h 507.99999"
           id="path5431"
           inkscape:connector-curvature="0" />
      </g>
      <g
         inkscape:groupmode="layer"
         id="layer8"
         inkscape:label="mount2"
         style="display:inline">
        <path
           style="fill:#808080;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
           d="M 0,260.85913 41.861914,233.70545 C 302.8389,274.8131 302.8389,274.8131 302.8389,274.8131 L 432.57313,240.49388 508,257.08779 V 285.75 H 0 Z"
           id="path5435"
           inkscape:connector-curvature="0" />
      </g>
    </svg>




<!--Happy Sun-->
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100%"
   height="auto"
   viewBox="0 0 507.99998 39.687501"
   version="1.1"
   id="happy_sun"
   class="sun sun_up"
   inkscape:version="0.92.0 r15299"
   sodipodi:docname="happySun.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="3.3675"
     inkscape:cx="1023.9289"
     inkscape:cy="75"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     units="px"
     inkscape:snap-page="true"
     inkscape:window-width="1920"
     inkscape:window-height="1000"
     inkscape:window-x="-11"
     inkscape:window-y="-11"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-257.31248)">
    <circle
       style="opacity:1;fill:#ffe680;fill-opacity:1;stroke:none;stroke-width:2.69441104;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path4485"
       cx="254"
       cy="277.15622"
       r="16.536459" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 257.37762,273.04892 c 1.27694,-1.54614 2.55389,-1.39814 3.83084,0.0511"
       id="path4489-8"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 246.79428,273.04892 c 1.27695,-1.54614 2.5539,-1.39814 3.83084,0.0511"
       id="path4489-2"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <circle
       style="opacity:1;fill:#1a1a1a;fill-opacity:1;stroke:none;stroke-width:3.91559076;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path4512"
       cx="252.61949"
       cy="281.65247"
       r="1.25" />
  </g>
</svg>




   
   
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
<script type="text/javascript">
    const $camp_btn = document.getElementById('camp_btn');
    const $mountain_range = document.getElementById('mountain_range');
    const $happy_sun = document.getElementById('happy_sun');
    const $big_mountains = document.getElementById('big_mountains');
    
    $camp_btn.addEventListener('mouseover', el => {
        $mountain_range.classList.toggle('mount_up');
        $mountain_range.classList.toggle('mount_down');
        
        $happy_sun.classList.toggle('sun_up');
        $happy_sun.classList.toggle('sun_down');
        
        $big_mountains.classList.toggle('big_mount_down');
        $big_mountains.classList.toggle('big_mount_up');
    });
    $camp_btn.addEventListener('mouseout', el => {
        $mountain_range.classList.toggle('mount_up');
        $mountain_range.classList.toggle('mount_down');
        
        $happy_sun.classList.toggle('sun_up');
        $happy_sun.classList.toggle('sun_down');
        
        $big_mountains.classList.toggle('big_mount_down');
        $big_mountains.classList.toggle('big_mount_up');
    });
    
    
    
   
</script>
<% include partials/footer %>